<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Soundcloud Downloader | soundcloud.isogen.net</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="min-height: 100vh; position: relative; overflow: hidden" class="blue-grey darken-4">
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo">SC</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="section blue-grey darken-4" style="margin-bottom: 420px;">
        <div class="container" style="color: white; text-align: center; max-width: 600px;">
            <h4>Soundcloud Downloader</h4>
            <h6>Enter a track or playlist url below</h6>
            <form onsubmit="event.preventDefault()">
                <div class="row">
                    <div class="input-field" style="border-bottom-color: #ffa000">
                        <input id="url" type="url" class="validate">
                        <label for="url" data-error="Invalid URL">Track URL</label>
                    </div>
                    <div class="waves-effect waves-light btn amber darken-2" onclick="resolve(event)">RESOLVE</div>
                </div>
            </form>

            <span> * * * </span>

            <div id="cards">

            </div>


        </div>
    </div>

    <footer class="page-footer blue-grey darken-3" style="position: relative; bottom: 0;left:0;width: 100%">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue-grey darken-4">
            <div class="container">
                © 2014 Copyright Text
                <span class="grey-text text-lighten-4 right">Part of <a class="grey-text text-lighten-4" href="https://isogen.net">ISOGEN.NET</a></span>
            </div>
        </div>
    </footer>

    <script>
        function resolve(event) {
            var input = document.getElementById("url");
            if(input.classList.contains("valid")){
                var url = input.value;

                $.get('/get-cards?url=' + encodeURI(url), function (data) {
                    document.getElementById("cards").innerHTML = data;
                    var dlButton = document.getElementById('download-button');
                    var id = dlButton.getAttribute("trackid");
                    dlButton.innerHTML = "Preparing";
                    UpdateInterval = setInterval(function () {
                        dlButton.innerHTML += ".";
                        if (dlButton.innerHTML == "Preparing...") {
                            dlButton.innerHTML = "Preparing";
                        }
                    }, 1000);
                    checkStatus(id);
                })
            }

        }

        var UpdateInterval = null;
        function checkStatus(id){
            console.log(id);
            $.get('/status/' + id, function(track){
                console.log(track);
                if(track.ready){

                    document.getElementById('download-button').innerHTML = "GET";
                    clearInterval(UpdateInterval);
                }else{
                    checkStatus(id);
                }
            });
        }
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
</body>
</html>