<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Soundcloud Downloader | soundcloud.isogen.net</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="blue-grey darken-4">

    <div class="section blue-grey darken-4" style="">
        <div class="container" style="color: white; text-align: center; max-width: 600px;">
            <h4>Soundcloud Downloader</h4>
            <h6>Enter a track url below</h6>
            <form onsubmit="event.preventDefault()">
                <div class="row">
                    <div class="input-field large">
                        <input id="url" type="url" class="" placeholder="">
                        <label for="url" data-error="Invalid URL">Track URL</label>
                    </div>
                    <div class="waves-effect waves-light btn amber darken-2" onclick="resolve(event)">RESOLVE</div>
                </div>
            </form>
            <span> * * * </span>
            <div id="cards">

            </div>
            <div id="loader" class="preloader-wrapper small" style="margin:50px;">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer blue-grey darken-4">
        <div class="container blue-grey-text" style="height: 100%;display: flex; justify-content: space-between; align-items: center; padding: 40px 0;">
            <div style="text-align: center">
                <i class="large fa fa-music"></i>
                <br>
                Fetch Track
                <br>
                &nbsp;
            </div>

            <i class="medium fa fa-arrow-right"></i>
            <div style="text-align: center">
                <i class="large fa fa-smile-o"></i>
                <br>
                Write Metadata<br> (artist & title)
            </div>
            <i class="medium fa fa-arrow-right"></i>
            <div style="text-align: center">
                <i class="large fa fa-picture-o"></i>
                <br>
                Embed Artwork
                <br>
                &nbsp;
            </div>

        </div>
        <div class="footer-copyright blue-grey darken-3  blue-grey-text text-lighten-1" style="width: 100%">
            <div class="container">
                <span class="left">Part of <a class="white-text darken-1" href="https://isogen.net">isogen.net</a></span>
                <span class="right"><a class="white-text darken-1" href="mailto:soundcloud@isogen.net">soundcloud@isogen.net</a></span>
            </div>
        </div>




    </footer>

    <script>
        var CardsContainer;
        var UpdateInterval;
        var ProgressSpinner;
        window.addEventListener("load", function () {
            CardsContainer = document.getElementById("cards");
            ProgressSpinner = document.getElementById("loader");
            ProgressSpinner.classList.add("active");
            ProgressSpinner.parentNode.removeChild(ProgressSpinner);
        });
        function resolve(event) {
            var input = document.getElementById("url");
            var url = input.value;

            if(url.search("soundcloud") != -1){
                CardsContainer.innerHTML = "";
            CardsContainer.appendChild(ProgressSpinner.cloneNode(true));
                $.get('/get-cards?url=' + encodeURI(url), function (data) {
                    CardsContainer.innerHTML = data;
                    var dlButton = document.getElementById('download-button');
                    var id = dlButton.getAttribute("trackid");
                    dlButton.innerHTML = "Preparing";
                    UpdateInterval = setInterval(function () {
                        dlButton.innerHTML += ".";
                        if (dlButton.innerHTML == "Preparing...") {
                            dlButton.innerHTML = "Preparing";
                        }
                    }, 1000);
                    checkStatus(id);
                })
            }

        }


        function checkStatus(id){
            console.log(id);
            $.get('/status/' + id, function(track){
                console.log(track);
                if(track.status === "READY"){
                    document.getElementById('download-button').innerHTML = "DOWNLOAD - " + track.size;
                    clearInterval(UpdateInterval);
                }else{
                    setTimeout(checkStatus, 1000, id);
                }
            });
        }

        window.addEventListener("dragover", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);
        window.addEventListener("drop", function (e) {
            e = e || event;
            e.preventDefault();
            var input = document.getElementById("url");
            console.log(e);
            input.value = e.dataTransfer.getData("text");
            input.parentNode.querySelector('label').classList.add("active");
        }, false);
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
</body>
</html>