<div class="card horizontal blue-grey darken-3 ">
    <div class="cover-image" style="background-image: url('{{ track.artwork_url }}')">

    </div>
    <div class="card-stacked">
        <div class="card-content" style="text-align: left">
            <h5 style="margin-top: 0"><span class="yellow-text text-darken-4">{{ track.user.username }}</span><br>{{ track.title }}</h5>
            <span class="likes-and-plays blue-grey-text text-lighten-1"><i class="fa fa-play"></i>{{ track.playback_count }}<i class="fa fa-heart"></i>{{ track.likes_count }}</span>
        </div>
        <div class="card-action">
            <a id="download-button" class="btn amber darken-2 waves-effect waves-light left" href="/track/{{ track.id }}/{{ track.filename }}" download trackid="{{ track.id }}">GET</a>
            <span id="download-status" class="right blue-grey-text" style="line-height: 36px; min-width: 50px; min-height: 50px;">{{ track.duration }}</span>
        </div>
    </div>
</div>
